@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
* {
  box-sizing: border-box;
}
.main {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
} .container{
  width: 870px;
}

:root {
  --container2-bg-color: linear-gradient(41.64deg, rgba(0, 191, 165, 0.27) 25.39%, rgba(64, 133, 247, 0) 131.52%);
  --container1-bg-color: #f2f7ff;
  --box-shadow-div-color: #4184f73d;
  --box-shadow-button-color: #4184f73d;
  --color-blue: #3a8ef6;
  --container1-p-color: #6c87ae;
  --color-blue-ceil: #00bfa5;
  --color-white: #ffffff;
  --color-blue-grad: linear-gradient(
    95.7deg,
    #3a8ef6 -291.15%,
    #6f3afa 817.96%
  );
}

button{
  cursor: pointer;
}

.container1 {
  background-color: var(--container1-bg-color);
  height: 578px;
  border-radius: 32px;
}

.container1__header {
  padding: 10px 80px;
  display: flex;
}

.container1__title__span {
  position: relative;
  color: var(--color-blue-grad);
  font-size: 32px;
  margin-right: 50px;
  font-weight: 700;
}

.container1__title__img {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -5px;
  left: 88px;
}

.nav {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: Hug (357px);
  height: Hug (20px);
  list-style: none;
  display: flex;
  left: 360px;
  top: 08px;
}

.nav__a {
  color: var(--container1-p-color);
  text-decoration: none;
  margin-right: 25px;
  font-size: 16px;
  font-weight: 400;
}

.nav__a__active {
  color: var(--color-blue-grad);
}

.container1__header__button {
  border: 1px solid var(--color-blue-grad);
  display: flex;
  height: 40px;
  box-shadow: 0px 8px 23px 0px var(--box-shadow-button-color);
  width: 140px;
  font-size: 18px;
  border-radius: 100px;
  background: var(--color-blue-grad);
  color: var(--color-white);
  position: relative;
  left: 80px;
}

.container1__header__button__img {
  margin-right: 5px;
  margin-left: 7px;
  height: 18px;
  width: 18px;
  margin-top: 9px;
}

.container1__header__button-span {
  font-weight: 600;
  margin-top: 8px;
}

.section {
  top: 50px;
  display: flex;
  position: relative;
  left: 75px;
}

.aside {
  top: 50px;
  display: flex;
  position: relative;
  left: 150px;

}

.aside__img {
  position: relative;
}

.aside__img-plus {
  position: absolute;
  top: -25px;
  left: -10px;
  height: 87.53px;
  width: 88.45px;
}

.aside__img-plus-medium {
  left: -50px;
  top: 125px;
  height: 55.53px;
  width: 60.45px;
}

.aside__img-plus-small {
  left: 280px;
  top: 55px;
  height: 20px;
  width: 20px;
}

.aside__img-plus-x-small {
  left: 230px;
  top: 270px;
  height: 40px;
  width: 40px;
}

.aside__img-doctor {
  width: 300px;
  height: 300px;
  position: relative;
}
.article {
  margin-top: 50px;
}

.article__span {
  color: var(--color-blue-ceil);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 33px;
  font-weight: 500;
  position: relative;
  top: 20px;
}
.article__h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.article__p {
  color: var(--container1-p-color);
  font-size: 12px;
}
.article__button {
  height: 40px;
  width: Hug(288px);
  padding: 16px, 28px, 16px, 28px;
  border-radius: 100px;
  box-shadow: 0px 8px 23px 0px var(--box-shadow-button-color);
  background: var(--color-blue-grad);
  color: var(--color-white);
  border: 1px solid var(--color-blue-grad);
}

.article__button__img {
  position: relative;
  top: 2px;
  height: 18px;
  width: 18px;
}
.article__button__span {
  position: relative;
  bottom: 2px;
  font-weight: 600;
}

.aside__div-doctor {
  border: 1px solid black;
  background: var(--color-blue-grad);
  border-radius: 800px;
}
.rect{
  position: relative;
  height: 300px;
  width: 300px;
  top: -430px;
  left: 500px;

}

.aside__img-doctor {
  position: relative;
  top: 10px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

.rectangle {
  border: 0;
  background: var(--color-blue-grad);
  height: 75px;
  width: 40px;
  position: relative;
  top: 150px;
  left: 120px;
}
.footer {
  height: 78px;
  width: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0px;
  top: 170px;
  left: 120px;
  color: var(--color-white);
}

.footer-left {
  box-shadow: 0px 8px 23px 0px var(--box-shadow-div-color);
  height: Hug(172px);
  width: 185px;
  padding: 8px 18px 8px 18px;
  border-radius: 12px;
  display: flex;
  background: var(--color-blue-grad);
}

.footer-center {
  box-shadow: 0px 8px 23px 0px var(--box-shadow-div-color);
  height: Hug(172px);
  width: 200px;
  padding: 8px 18px 8px 18px;
  border-radius: 12px;
  display: flex;
  background: var(--color-blue-grad);
  margin-left: 30px;
  margin-right: 30px;
}

.footer-right {
  box-shadow: 0px 8px 23px 0px var(--box-shadow-div-color);
  height: Hug(209px);
  width: 180px;
  padding: 8px 18px 8px 18px;
  font-size: 12px;
  display: flex;
  border-radius: 12px;
  background: var(--color-blue-grad);
}
.footer-left__img {
  position: relative;
  top: 20px;
  right: 08px;
  height: 34px;
  width: 34px;
}

.footer-center__img {
  position: relative;
  top: 20px;
  right: 08px;
  height: 30px;
  width: 30px;
}

.footer-right__img {
  position: relative;
  top: 20px;
  right: 08px;
  height: 30px;
  width: 30px;
}

.footer-left__p {
  font-size: 10px;
  font-weight: 400;
}

.footer-left__p__span {
  font-size: 14px;
  font-weight: 600;
}

.footer-center__p {
  font-size: 10px;
  font-weight: 400;
}

.footer-center__p__span {
  font-size: 14px;
  font-weight: 600;
}

.footer-right__p {
  font-size: 10px;
  font-weight: 400;
}

.footer-right__p__span {
  font-size: 14px;
  font-weight: 600;
}

.container2 {
  position: relative;
  top: -100px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.img-plus {
  position: relative;
  bottom: 100px;
}

.container2__img-doctor {
  position: relative;
  top: -22px;
  height: 295px;
  width: 300px;
}
.container2__article__span {
  font-size: 28px;
  font-weight: 600;
}
.container2__article__p {
  color: var(--container1-p-color);
  font-weight: 400;
  font-size: 12px;
}

.container2__article{
  position: relative;
  top: -10px;
  left: 20px;
}

.container2__article__button {
  border: 0;
  background: var(--color-blue-grad);
  box-shadow: 0px 8px 23px 0px var(--box-shadow-button-color);
  border-radius: 100px;
  height: 40px;
  text-align: center;
  color:var(--color-white) ;
}
.container2__article__button__span{
  font-weight: 600;
  margin-left: 2px;
  position: relative;
  top: -7px;
}

.container2__article__h2{
  color: var(--color-blue-ceil);
  position: relative;
  top: 20px;
}
.container2__div__img-doctor{
  background: var(--container2-bg-color);
  height: 230px;
  width: 300px;
  border-radius: 32px;
  position: relative;
  left: -30px;
}
.img-plus4{
  position: relative;
  height: 45px;
  top: -10px;
  left: 160px;
}

.img-plus3{
  position: relative;
  height: 30px;
  top: -85px;
  left: 340px;
}

.img-plus2{
  position: relative;
  height: 20px;
  top: -185px;
  left: -15px;
}

.img-plus1{
  position: relative;
  height: 12px;
  top: -290px;
  left: 160px;
}